<div class="container">
  <div class="row">
    <div class="col text-center">
      <h2>Eniro Search against Golang backend using Debounce in Angular </h2>
      <input type="text" #eniroSearchInput class="form-control" placeholder="Type any company name" />


    </div>
  </div>
  <div class="row" *ngIf="isSearching">
    <div class="col-12 text-center">

      <h4>Searching ... </h4>

    </div>
  </div>
  <div class="row" *ngIf="!isSearching && result">
    <div class="col" *ngIf="result.companies">
      <mat-list>
        <div mat-subheader>Result</div>
        <mat-list-item *ngFor="let record of result?.companies">
          <mat-icon mat-list-icon>location_on</mat-icon>
          <div mat-line>{{record.name}}</div>
          <div mat-line> {{record.addresses[0].full}} </div>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
